// Base styles that can be applied to any element
.page {
  color: #404040;

	.grid {
		width: 75%;
		margin: 0 auto;

		.page__title {
			font-size: 3em;
			font-weight: 800;
			text-align: center;
			margin-bottom: 50px;
      color: $c__grey--blue;
		}

		.page__wrapper {
			padding: 20px 0px;

			.col {
				display: inline-block;
				
				&.col--1 {
					width: 21%;
					vertical-align: top;
					text-align: right;
					padding-right: 5%;
					font-size: 1.5em;
					color: $c__blue--light;

					@media (max-width: $s__breakpoint--large) {
            text-align: center;
            width: 100%;
          }
				}

				&.col--2 {
					width: 70%;
					font-size: 1.5em;

          @media (max-width: $s__breakpoint--large) {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            width: 100%;
          }
				}

        @media (max-width: $s__breakpoint--large) {
          display: block;
        }

			}
		}

    @media (max-width: $s__breakpoint--large) {
      width: 100%;
    }

	}

}