// Fonts

// Sizes
$s__navbar-height: 54px;
$s__max-width: 1280px;
$s__breakpoint--large: 1024px;
$s__breakpoint--small: 768px;

// Colors
$c__red: #F44336;
$c__pink: #E91E63;
$c__purple: #9C27B0;
$c__purple--deep: #673AB7;
$c__indigo: #3F51B5;
$c__blue: #0693C0;
$c__blue--light: #03A9F4;
$c__cyan: #00BCD4;
$c__teal: #009688;
$c__green: #4CAF50;
$c__green--light: #8BC34A;
$c__lime: #CDDC39;
$c__yellow: #FBD133;
$c__amber: #FFC107;
$c__orange: #FF9800;
$c__orange--deep: #FF5722;
$c__brown: #795548;
$c__grey: #90a4ae;
$c__grey--light: #bdbdbd;
$c__grey--blue: #607D8B;
$c__black: #333333;
$c__white: #ffffff;
